<template>
  <div  >
    <v-card>
      <h1>Contactos</h1>
      <v-card-title >
        <v-text-field v-model="search" append-icon="search" label="Search" single-line hide-details></v-text-field>
      </v-card-title>
      <v-data-table :headers="headers" :items="desserts" :search="search"></v-data-table>
    </v-card>
  </div>
</template>
<script>
export default {
  data() {
    return {
      search: '',
      headers: [
        {
          text: 'Nombre',
          align: 'start',
          filterable: false,
          value: 'name',
        },
        { text: 'text', value: 'text' },
      ],
      desserts: [
        {
          name: 'Pedro',
          text: 159,
        },
        {
          name: 'Pedro',
          text: 159,
        },
        {
          name: 'Pedro',
          text: 159,
        },
        {
          name: 'Pedro',
          text: 159,
        },
        {
          name: 'Pedro',
          text: 159,
        },
        {
          name: 'Pedro',
          text: 159,
        },
      ],
    };
  },
};
</script>