<template>
  <v-container id="signinup-form" class="fill-height">
    <v-row aling="center" justify="center" no-gutters>
      <v-col cols="12" sm="8" md="8">
        <v-card class="elevation-12">
          <v-window v-model="step">
            <v-window-item :value="1">
              <v-row>
                <v-col cols="12" md="8" class="pt-5 pb-5">
                  <v-card-text class="mt-12">
                    <h1
                      class="text-center display-2 mb-10"
                      :class="`${bgColor}--text`"
                    >
                      Ingresar a MIDI
                    </h1>
                    <div>
                      <v-alert dense outlined type="error" v-if="message">
                        Usuario o contraseña equivocada
                      </v-alert>
                    </div>
                    <v-form ref="form" lazy-validation>
                      <v-text-field
                        required
                        id="rut"
                        :rules="rutRules"
                        v-model="user.rut"
                        label="Usuario"
                        name="rut"
                        append-icon="person"
                        type="text"
                        :color="bgColor"
                      ></v-text-field>
                      <v-text-field
                        required
                        id="password"
                        :rules="passwordRules"
                        v-model="user.password"
                        label="Contraseña"
                        name="Password"
                        append-icon="lock"
                        type="password"
                        :color="bgColor"
                      ></v-text-field>
                      <div>
                        <v-alert
                          dense
                          outlined
                          type="error"
                          v-if="errors.has('password')"
                        >
                          Password is required!
                        </v-alert>
                      </div>

                      <div class="text-center">
                        <a
                          href="#"
                          class="mt-3 overline no-text-decoration"
                          :class="`${bgColor}--text`"
                          @click="step = 2"
                          >¿Olvidaste tu contraseña?</a
                        >
                      </div>
                      <div class="text-center mt-6">
                        <v-btn
                          type="submit"
                          color="info"
                          large
                          @click.prevent="handleLogin"
                          
                          >Ingresar</v-btn
                        >
                      </div>
                    </v-form>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="indigo darken-3"></v-col>
              </v-row>
            </v-window-item>

            <v-window-item :value="2">
              <v-row class="fill-height">
                <v-col
                  cols="12"
                  md="4"
                  class="darken-2 vcenter"
                  :class="`${bgColor}`"
                >
                  <div>
                    <v-card-text :class="`${fgColor}--text`">
                      <h1 class="text-center headline mb-3">
                        ¿Ya tienes una cuenta?
                      </h1>
                      <h5 class="text-center overline mb-3">
                        Por favor ingrese
                      </h5>
                    </v-card-text>
                    <div class="text-center mb-6">
                      <v-btn dark outlined @click="step = 1">Ingresar</v-btn>
                    </div>
                  </div>
                </v-col>
                <v-col cols="12" md="8" class="pt-6 pb-6">
                  <v-card-text>
                    <v-form class="signup-form-form">
                      <h1
                        class="text-center display-1 mb-10"
                        :class="`${bgColor}--text`"
                      >
                        Recuperar contraseña
                      </h1>
                      <v-text-field
                        id="login"
                        label="Email"
                        name="login"
                        append-icon="email"
                        type="text"
                        :color="bgColor"
                        class="v-input__icon--double"
                      />
                      <div class="text-center mt-6">
                        <v-btn large :color="bgColor" dark
                          >Recuperar contraseña</v-btn
                        >
                      </div>
                    </v-form>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-window-item>
          </v-window>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import User from '../models/user';

export default {
  name: 'Login',
  data() {
    return {
      step: 1,
      user: new User('', ''),
      loading: false,
      message: '',
      rutRules: [(v) => !!v || 'El usuario es requerido'],
      passwordRules: [(v) => !!v || 'El usuario es requerido'],
      valid: true,
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    },
  },
  created() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
    handleLogin() {
      this.loading = true;
      this.$validator.validateAll();

      if (this.errors.any()) {
        console.log(this.message);
        this.loading = false;
        return;
      }

      if (this.user.rut && this.user.password) {
        this.$store.dispatch('auth/login', this.user).then(
          () => {
            this.$router.push('/profile');
          },
          (error) => {
            this.loading = false;
            this.message = error.message;
          }
        );
      }
    },
  },
  props: {
    source: {
      type: String,
      default: '',
    },
    bgColor: {
      type: String,
      default: 'indigo',
    },
    fgColor: {
      type: String,
      default: 'white',
    },
  },
};
</script>
