<template>
  <v-container class="container">
    <div>
      <template v-if="currentUser">
      <Tabla
        :datos="currentUser.movements"
        :paginas="7"
        :footer="false"
        title="Todos los movimientos"
        
      />
      </template>
    </div>
  </v-container>
</template>

<script>
export default {
  data() {
    return {};
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  components: {
    MovimientosTabla: () => import('@/components/MovimientosTabla'),
    Tabla: () => import('@/components/Tabla'),
  },
};
</script>