<template>
  <v-container id="signinup-form" class="fill-height">
    <v-row aling="center" justify="center" no-gutters>
      <v-col cols="12" sm="8" md="8">
        <v-card class="elevation-12">
          <v-window>
            <v-window-item :value="1">
              <v-row>
                <v-col cols="12" md="8" class="pt-3 pb-3">
                  <v-card-text class="mt-1">
                    <h1
                      class="text-center display-2 mb-12"
                      :class="`${bgColor}--text`"
                    >Registrarse en MIDI</h1>
                    <v-form>

                      <v-text-field
                        id="name"
                        v-model="user.name"
                        label="Nombre"
                        name="name"
                        append-icon="person"
                        type="text"
                        :color="bgColor"
                      ></v-text-field>

                      <v-text-field
                        id="surnames"
                        v-model="user.surnames"
                        label="Apellidos"
                        name="surnames"
                        append-icon="person"
                        type="text"
                        :color="bgColor"
                      ></v-text-field>

                      <v-text-field
                        id="rut"
                        v-model="user.rut"
                        label="Rut"
                        name="rut"
                        append-icon="person"
                        type="text"
                        :color="bgColor"
                      ></v-text-field>

                      <v-text-field
                        id="password"
                        v-model="user.password"
                        label="Contraseña"
                        name="Password"
                        append-icon="lock"
                        type="password"
                        :color="bgColor"
                      ></v-text-field>

                      <v-text-field
                        id="telephone"
                        v-model="user.telephone"
                        label="Teléfono"
                        name="telephone"
                        append-icon="smartphone"
                        type="text"
                        :color="bgColor"
                      ></v-text-field>

                      <v-text-field
                        :color="bgColor"
                        id="email"
                        v-model="user.email"
                        label="Email"
                        name="email"
                        append-icon="mail_outline"
                        type="text"
                      ></v-text-field>

                      <div class="text-center mt-6">
                        <v-btn
                          :color="bgColor"
                          dark
                          large
                          @click="handleRegister"
                        >Registrarse</v-btn>
                      </div>
                      
                    </v-form>
                  </v-card-text>
                </v-col>
                <v-col cols="12" md="4" class="indigo darken-3"></v-col>
              </v-row>
            </v-window-item>
          </v-window>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import User from '../models/user';
export default {
  name: 'Register',
  data() {
    return {
      user: new User('', '', '','','',''),
      submitted: false,
      successful: false,
      message: ''
    };
  },
  computed: {
    loggedIn() {
      return this.$store.state.auth.status.loggedIn;
    }
  },
  mounted() {
    if (this.loggedIn) {
      this.$router.push('/profile');
    }
  },
  methods: {
    handleRegister() {
      this.message = '';
      this.submitted = true;
      this.$validator.validate().then(isValid => {
        if (isValid) {
          this.$store.dispatch('auth/register', this.user).then(
            data => {
              this.message = data.message;
              this.successful = true;
              this.$router.push("/login");
            },
            
          );
        }
      });
    }
  },
  props: {
    source: {
      type: String,
      default: "",
    },
    bgColor: {
      type: String,
      default: "indigo",
    },
    fgColor: {
      type: String,
      default: "white",
    },
  },
};
</script>
