<template>
  <v-container app class="container">
    <v-card class="black p-1">
      <div class="grey lighten-1 p-4">
        <v-card class="">
          <v-row no-gutters>
            <v-col cols="12" md="12">
              <v-row no-gutters>
                <v-col cols="12" md="8" class="grey lighten-2 pt-2 pb-2">
                  <v-card-text class="">
                    <h2 class="text-center" :class="`${bgColor}--text`">
                      Saldo de MIDI
                    </h2>
                    <template v-if="currentUser">
                      <h1 class="text-center display-3">
                        $ {{ currentUser.bankAccount.money }}
                      </h1>
                    </template>
                  </v-card-text>
                </v-col>

                <v-col cols="12" md="4" class="">
                  <div :class="`${bgColor}`" class="">
                    <div class="text-center pt-9 pb-8">
                      <div class="">
                        <v-btn fab dark @click="dialog = true">
                          <v-icon dark size="50">remove</v-icon>
                        </v-btn>
                      </div>
                      <h1
                        class="text-center display-1 mb-0"
                        :class="`${fgColor}--text`"
                      >
                        Pagar
                      </h1>
                    </div>
                  </div>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card>
        <template v-if="currentUser">
          <div class="pt-4">
            <v-card class="">
              <MovimientosTabla
                title="Movimientos recientes"
                :footer="true"
                :paginas="4"
                :movimientos="currentUser.movements"
              />
            </v-card>
          </div>
        </template>
      </div>
    </v-card>

    <v-dialog v-model="dialog" width="500" persistent>
      <v-card>
        <v-card-title>Pagar a otro usuario</v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              required
              :counter="9"
              :rules="rutRules"
              id="rut"
              label="Rut user"
              name="rut"
              append-icon="person"
              v-model="movement.receptor"
              type="text"
              :color="bgColor"
            ></v-text-field>
            <v-text-field
              required
              :rules="amountRules"
              id="amount"
              label="Amount"
              name="amount"
              append-icon="money"
              v-model="movement.amount"
              type="text"
              :color="bgColor"
            ></v-text-field>
            <div class="text-center mt-6">
              <div>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-btn :color="bgColor" dark @click="reset">Cancelar</v-btn>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-btn
                      type="submit"
                      color="success"
                      @click.prevent="pagar"
                      :disabled="!valid"
                      >Pagar</v-btn
                    >
                  </v-col>
                </v-row>
              </div>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script>
import MovementService from '../services/movement.service';
import Movement from '../models/movement';
import UserService from '../services/user.service';
export default {
  data() {
    return {
      valid: true,
      rutRules: [
        (v) => !!v || 'El rut es requerido',
        (v) => (v && v.length == 9) || 'el rut debe terner 9 caracteres',
        (v) =>
          (v && v != this.currentUser.rut) || 'Debe ingresar un rut valido',
      ],
      amountRules: [
        (v) => !!v || 'El monto es requerido',
        (v) =>
          (v && v <= this.currentUser.bankAccount.money) ||
          'El monto excede del maximo',
      ],
      movement: new Movement('', '', ''),
      dialog: false,
      lazy: false,
    };
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    async pagar() {
      if (!this.$refs.form.validate()) {
      } else if (this.$refs.form.validate()) {
        this.movement.emisor = this.currentUser.rut;
        this.dialog = false;
        await MovementService.postPagar(this.movement);
        const usuario = await UserService.getUserTodo();
        localStorage.removeItem('user');
        localStorage.setItem('user', JSON.stringify(usuario.data));
        this.$router.go(0);
      }
    },

    reset() {
      this.dialog = false;
      this.$refs.form.reset();
    },
  },
  components: {
    MovimientosTabla: () => import('@/components/MovimientosTabla'),
    Tabla: () => import('@/components/Tabla'),
  },
  props: {
    source: {
      type: String,
      default: '',
    },
    bgColor: {
      type: String,
      default: 'indigo',
    },
    fgColor: {
      type: String,
      default: 'black',
    },
    fg1: {
      type: String,
      default: 'grey lighten-1',
    },
  },
};
</script>