<template>
  <v-container class="pt-16">
    <v-window v-model="step">
      <v-window-item :value="1">
        <template v-if="step===1">
          <v-row aling="center" justify="center" no-gutters>
            <v-col
              cols="12"
              sm="6"
              md="8"
              class="p-4 lighten-4 elevation-26"
              :class="`${bgColor2}`"
            >
              <FlipCard :cara1="c1" :cara2="c2">
                <template slot="front">
                  <v-card class="elevation-6 lighten-1 p-2" :class="`${mora}`" height="360">
                    <div :class="`${mora}`" class="lighten-1">
                      <v-row no-gutters>
                        <v-col cols="12" md="6">
                          <v-card-text :class="`${fgColor}--text`">
                            <h4>Número de tarjeta</h4>
                            <template v-if="currentUser">
                              <h2>{{String(this.currentUser.bankAccount.creditCard.cardNumber).substring(0,4)}} ••• ••• ••• •••</h2>
                            </template>
                          </v-card-text>
                        </v-col>
                      </v-row>

                      <v-row no-gutters>
                        <v-col cols="12" md="4">
                          <v-card-text :class="`${fgColor}--text`">
                            <h4>Fecha de expiración</h4>
                            <template v-if="currentUser">
                              <h2>{{currentUser.bankAccount.creditCard.expirationDate}}</h2>
                            </template>
                          </v-card-text>
                        </v-col>
                        <v-col cols="12" md="5">
                          <v-card-text :class="`${fgColor}--text`">
                            <h4>Código de seguridad CVV</h4>
                            <template v-if="currentUser">
                              <h2>•••</h2>
                            </template>
                          </v-card-text>
                        </v-col>
                      </v-row>
                      <v-row no-gutters>
                        <v-col cols="12" md="9">
                          <v-card-text :class="`${fgColor}--text`">
                            <template v-if="currentUser">
                              <h2>{{currentUser.bankAccount.creditCard.holder}}</h2>
                            </template>
                          </v-card-text>
                        </v-col>
                        <v-col cols="12" md="3">
                          <v-card-text :class="`${fgColor}--text`">
                            <h1>VISA</h1>
                          </v-card-text>
                        </v-col>
                      </v-row>
                    </div>
                  </v-card>
                </template>
                <template slot="back">
                  <v-card class="elevation-6 lighten-1 p-2" :class="`${mora}`" height="360">
                    <div class="text-center mt-16 mb-16 pt-16">
                      <v-btn large dark outlined @click="verDatosTarjeta">Ver datos de la tarjeta</v-btn>
                    </div>
                  </v-card>
                </template>
              </FlipCard>
            </v-col>
          </v-row>
        </template>
      </v-window-item>
      <v-window-item :value="2">
        <v-window v-model="step2">
          <v-window-item :value="1">
            <v-row aling="center" justify="center" no-gutters style="height:350px; ">
              <v-col
                cols="12"
                sm="6"
                md="7"
                class="p-4 lighten-4 elevation-20"
                :class="`${bgColor2}`"
              >
                <v-card
                  class="elevation-6 lighten-1 p-4 pt-16"
                  :class="`${mora}`"
                  style=" height:100%;"
                >
                  <div class="text-center">
                    <v-btn large dark outlined @click.prevent="Actualizar">Solicitar Tarjeta</v-btn>
                  </div>
                </v-card>
              </v-col>
            </v-row>
          </v-window-item>
          <v-window-item :value="2">
            <v-row aling="center" justify="center" no-gutters style="height:350px; ">
              <v-col
                cols="12"
                sm="6"
                md="7"
                class="p-4 lighten-4 elevation-20"
                :class="`${bgColor2}`"
              >
                <v-card
                  class="elevation-6 lighten-1 p-4 pt-16"
                  :class="`${mora}`"
                  style=" height:100%;"
                >
                  <v-card-text :class="`${fgColor}--text`">
                    <h1 class="text-center headline mb-3">Tarjeta creada con exito</h1>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-window-item>
        </v-window>
      </v-window-item>
      <v-window-item :value="3">
        <template v-if="step===3">
          <v-row aling="center" justify="center" class="elevation-20" no-gutters>
            <v-col cols="12" sm="6" md="8" class="p-4 lighten-4" :class="`${bgColor2}`">
              <v-card class="elevation-6 lighten-1 p-2" :class="`${mora}`">
                <div :class="`${mora}`" class="lighten-1">
                  <v-row no-gutters>
                    <v-col cols="12" md="6">
                      <v-card-text :class="`${fgColor}--text`">
                        <h4>Número de tarjeta</h4>
                        <template v-if="currentUser">
                          <h2>{{currentUser.bankAccount.creditCard.cardNumber}}</h2>
                        </template>
                      </v-card-text>
                    </v-col>
                  </v-row>

                  <v-row no-gutters>
                    <v-col cols="12" md="4">
                      <v-card-text :class="`${fgColor}--text`">
                        <h4>Fecha de expiración</h4>
                        <template v-if="currentUser">
                          <h2>{{currentUser.bankAccount.creditCard.expirationDate}}</h2>
                        </template>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="5">
                      <v-card-text :class="`${fgColor}--text`">
                        <h4>Código de seguridad CVV</h4>
                        <template v-if="currentUser">
                          <h2>{{currentUser.bankAccount.creditCard.securityCode}}</h2>
                        </template>
                      </v-card-text>
                    </v-col>
                  </v-row>
                  <v-row no-gutters>
                    <v-col cols="12" md="9">
                      <v-card-text :class="`${fgColor}--text`">
                        <template v-if="currentUser">
                          <h2>{{currentUser.bankAccount.creditCard.holder}}</h2>
                        </template>
                      </v-card-text>
                    </v-col>
                    <v-col cols="12" md="3">
                      <v-card-text :class="`${fgColor}--text`">
                        <h1>VISA</h1>
                      </v-card-text>
                    </v-col>
                  </v-row>
                </div>
              </v-card>
            </v-col>
            <v-col cols="12" sm="6" md="4" class="darken-2" :class="`${bgColor}`">
              <v-row>
                <v-col cols="12" md="12" class="pt-10 pb-10">
                  <div class="text-center">
                    <v-btn
                      large
                      dark
                      outlined
                      @click.prevent="ocultarDatos"
                    >Ocultar datos de la tarjeta</v-btn>
                  </div>
                </v-col>
              </v-row>
              <v-row>
                <v-col cols="12" md="12">
                  <Timer/>

                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </template>
      </v-window-item>
    </v-window>

    <v-dialog v-model="dialog" width="500" persistent>
      <v-card>
        <v-card-title>Ingrese su contraseña</v-card-title>
        <v-card-text>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-text-field
              required
              :rules="claveRules"
              id="clave"
              label="clave"
              name="clave"
              append-icon="person"
              type="password"
              :color="bgColor"
            ></v-text-field>
            <div class="text-center mt-6">
              <div>
                <v-row>
                  <v-col cols="12" md="6">
                    <v-btn :color="bgColor" dark @click="reset">Cancelar</v-btn>
                  </v-col>
                  <v-col cols="12" md="6">
                    <v-btn
                      type="submit"
                      color="success"
                      @click.prevent="verificarClave"
                      :disabled="!valid"
                    >Verificar</v-btn>
                  </v-col>
                </v-row>
              </div>
            </div>
          </v-form>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-overlay :value="overlay">
      <v-progress-circular indeterminate size="64"></v-progress-circular>
    </v-overlay>
  </v-container>
</template>
<script>
import UserService from '../services/user.service';

export default {
  data() {
    return {
      claveRules: [
        (v) => !!v || 'La clave es requerido',
        
      ],
      valid: true,
      step: null,
      step2: 1,
      numeroTarjeta: 0,
      dialog: false,
      c1: true,
      c2: false,
      overlay: false,
    };
  },
  watch: {
    overlay(val) {
      val &&
        setTimeout(() => {
          this.overlay = false;
          this.step = 3;
          this.$refs.form.reset()
        }, 3000);
    },
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  created() {
    if (this.currentUser) {
      if (this.currentUser.bankAccount.creditCard) {
        this.step = 1;
      } else {
        this.step = 2;
      }
    }
  },
  methods: {
    async Actualizar() {
      this.step2++;
      const ale = await UserService.getInsertCreditCard();
      const usuario = await UserService.getUserTodo();
      localStorage.removeItem('user');
      localStorage.setItem('user', JSON.stringify(usuario.data));
      this.$router.go(0);
    },
    verDatosTarjeta() {
      this.c2 = true;
      this.dialog = true;
    },
    reset() {
      this.$refs.form.reset()
      this.c2 = false;
      this.dialog = false;
    },
    verificarClave() {
      if (!this.$refs.form.validate()) {
      } else if (this.$refs.form.validate()) {
        this.dialog = false;
        this.overlay = true;
        this.c2 = false;
      }
    },
    ocultarDatos() {
      this.$router.go(0);
      //this.step = 1;
    },
  },
  components: {
    FlipCard: () => import('@/components/FlipCard'),
    Timer: () => import('@/components/Timer'),
  },
  props: {
    source: {
      type: String,
      default: '',
    },
    bgColor2: {
      type: String,
      default: 'blue-grey',
    },
    bgColor: {
      type: String,
      default: 'indigo',
    },
    fgColor: {
      type: String,
      default: 'white',
    },
    fgColor2: {
      type: String,
      default: 'black',
    },
    mora: {
      type: String,
      default: 'deep-purple',
    },
  },
};
</script>




