<template>
  <v-container class="container">
    <div>
      <UsuariosTabla title="Usuarios Activos" :footer="false" :paginas="8" :usuarios="usuarios"/>
    </div>
  </v-container>
</template>

<script>
import UserService from '../services/user.service';
export default {
  data() {
    return {
        usuarios:[],
    }
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  mounted() {
      this.listarUsuarios();
  },
  methods: {
     listarUsuarios: async function() {
      const hola = await UserService.getListarUsuarios();
      this.usuarios= await hola.data;
      console.log(this.currentUser.account.roles[0].name)
    },
  },
  components: {
    UsuariosTabla: () => import("@/components/UsuariosTabla"),
  },
  
};
</script>