<template>
  <div>
    <v-data-table
      :headers="movimientosHeaders"
      :items="movimientos"
      :items-per-page="paginas"
      :hide-default-footer="footer"
      class="grey lighten-2 elevation-26"
      sortBy="id"
      update: sort-desc
    >
      <template v-slot:top>
        <v-toolbar class="grey lighten-2" flat>
          <v-toolbar-title>
            <h1 class="headline font-weight-bold black--text text--darken-3">{{title}}</h1>
          </v-toolbar-title>
        </v-toolbar>
      </template>
      <template v-slot:[`item.amount`]="{ item }">

        <h5 :class="`${getColor(item.type)}--text`">
          {{getColor2(item.type)}}{{ item.amount }}
        </h5>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    movimientos: { type: Array, default: () => [] },
    paginas: Number,
    footer:Boolean,
  },
  data() {
    return {
      movimientosHeaders: [
        {
          text: 'Nombre',
          align: 'left',
          sortable: false,
          value: 'nameReceptor',
        },
        { text: 'Fecha', value: 'date' },
        { text: 'Tipo de movimiento', value: 'type' },
        { text: 'Monto', value: 'amount' },
      ],
    };
  },
  methods: {
    getColor(tipoMovimiento) {
      if (tipoMovimiento == 'MOV_DEBIT') return 'red';
      else return 'green';
    },
    getColor2(tipoMovimiento) {
      if (tipoMovimiento == 'MOV_DEBIT') return '-';
      else return '+';
    },
  }
};
</script>