<template>
  <div class="black p-1">
  <v-card class="elevation-26">
    <v-card-title class="grey lighten-2">
      {{ title }}
      <v-spacer></v-spacer>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Search"
        single-line
        hide-details
        :color="bgColor"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :items-per-page="paginas"
      @page-count="$emit('pagination', $event)"
      :headers="camposVisible"
      :items="datos"
      :hide-default-footer="footer"
      :search="search"
      sortBy="id"
      update: sort-desc
      class="grey lighten-2"
    >
      <template v-slot:[`item.actions`]="{ item }">
        
        <v-icon small @click="deleteItem(item)">mdi-delete</v-icon>
      </template>
      <template v-slot:[`item.amount`]="{ item }">

        <h5 :class="`${getColor(item.type)}--text`">
          {{getColor2(item.type)}}{{ item.amount }}
        </h5>
      </template>
    </v-data-table>
  </v-card>
  </div>
</template>

<script>
import MovementService from '../services/movement.service';
import UserService from '../services/user.service';
export default {
  props: {
    title: String,
    datos: Array,
    paginas: Number,
    footer: Boolean,
    bgColor: {
      type: String,
      default: 'indigo',
    },
  },
  components: {},
  data() {
    return {
      search: '',
      campos: [
        {
          text: 'id',
          align: 'left',
          sortable: false,
          value: 'id',
          see: true,
        },
        { text: 'Nombre', align: 'start', value: 'nameReceptor', see: true },
        { text: 'Fecha', value: 'date', see: true },
        { text: 'Tipo de movimiento', value: 'type', see: true },
        { text: 'Monto', value: 'amount', see: true },
        { text: 'Actions', value: 'actions', sortable: false, see: true },
      ],

      showEdit: false,
      editedIndex: -1,

      editedItem: {},
      defaultItem: {
        nombreUsuario: '',
        contrasena: '',
        rol: '',
      },
    };
  },

  methods: {
    editItem(item) {
      this.editedIndex = this.datos.indexOf(item);
      this.editedItem = Object.assign({}, item);
      this.showEdit = true;
    },
    async deleteItem(item) {
      const index = this.datos.indexOf(item);
      const id = this.datos[index].id;
      confirm('¿Esta seguro que desea eliminar este Item?' + id) &&
        (await MovementService.getDeleteMovement(id));
      const usuario = await UserService.getUserTodo();
      localStorage.removeItem('user');
      localStorage.setItem('user', JSON.stringify(usuario.data));
      this.$router.go(0);
    },
    save() {
      if (this.editedIndex > -1) {
        Object.assign(this.datos[this.editedIndex], this.editedItem);
      } else {
        this.datos.push(this.editedItem);
      }
      this.close();
    },
    close() {
      this.showEdit = false;
      this.editedIndex = -1;
      this.editedItem = Object.assign({}, this.defaultItem);
    },
    getColor(tipoMovimiento) {
      if (tipoMovimiento == 'MOV_DEBIT') return 'red';
      else return 'green';
    },
    getColor2(tipoMovimiento) {
      if (tipoMovimiento == 'MOV_DEBIT') return '-';
      else return '+';
    },
  },
  computed: {
    camposVisible() {
      return this.campos.filter((field) => {
        if (field.see) {
          return field;
        } else {
          return 0;
        }
      });
    },
  },
};
</script>