<template>
  <div class="text-center">
    <v-progress-circular
      :rotate="270"
      :size="200"
      :width="20"
      :value="value"
      color="blue-grey"
    >
      {{ value }}
      
    </v-progress-circular>
  </div>
</template>

<script>
  export default {
    props:{
    
    },
    data () {
      return {
        interval: {},
        value: 100,
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    mounted () {
      this.interval = setInterval(() => {
        if (this.value === 0) {
          this.$router.go(0);
        }else{
          if(this.value === 0){

          }else{
            this.value -= 10
          }
        }
      }, 1000)
    },
  }
</script>

<style scoped>
.v-progress-circular {
  margin: 1rem;
}
</style>