<template>
  <div class="mb-2">
    <v-app-bar app dark>
      <template v-if="!currentUser">
        <v-toolbar-title>MIDI</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text to="/register">Registrarse</v-btn>
          <v-btn text to="/">Ingresar</v-btn>
        </v-toolbar-items>
      </template>

      <template v-if="currentUser">
        <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>
        <v-toolbar-title>MIDI</v-toolbar-title>

        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn text @click.prevent="logOut">Terminar sesión</v-btn>
        </v-toolbar-items>
      </template>
    </v-app-bar>

    <v-navigation-drawer
      app
      v-model="drawer"
      temporary
      dark
    >
      <v-list-item two-line>
        <v-list-item-avatar>
          <img src="https://i0.pngocean.com/files/371/667/587/computer-icons-user-profile-encapsulated-postscript-icon-black.jpg" />
        </v-list-item-avatar>

        <v-list-item-content>
          <template v-if="currentUser">
            <v-list-item-title>{{currentUser.name}} {{currentUser.surnames}}</v-list-item-title>
          </template>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>
      <template v-if="currentUser">
        <template v-if="currentUser.account.roles[0].name==='ROLE_USER'">
          <v-list dense nav>
            <v-list-item link v-for="item in items" :key="item.title" :to="item.src">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </template>
        <template v-if="currentUser.account.roles[0].name==='ROLE_ADMIN'">
          <v-list dense nav>
            <v-list-item link v-for="item in items2" :key="item.title" :to="item.src">
              <v-list-item-icon>
                <v-icon>{{ item.icon }}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                <v-list-item-title>{{ item.title }}</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </template>
      </template>
    </v-navigation-drawer>
  </div>
</template>>

<script>
export default {
  data: () => ({
    userConnect: null,
    drawer: false,
    items: [
      { title: 'Resumen', icon: 'mdi-home', src: '/resumen' },
      { title: 'Tarjeta', icon: 'mdi-credit-card', src: '/tarjeta' },
      { title: 'Movimientos', icon: 'sync_alt', src: '/movimientos' },
    ],
    items2: [
      { title: 'Usuarios Activos', icon: 'mdi-home', src: '/usuariosActivos' },
    ],
    right: null,
  }),
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/');
    },
  },
  components: {},
};
</script>