<template>
  <v-app>
    <v-main>
      
      
      <Toolbar/>
      <router-view/>
      
      
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',
  data: () => ({
    componentKey: 0,
  }),
  components: {
    Toolbar: () => import("@/components/Toolbar"),
  },
  methods: {
    forceRerender() {
      this.componentKey++;  
    }
  }
};
</script>